<!DOCTYPE html>
<html>
<head>
    <title>AI Career Path Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <div class="navbar">
        <div class="logo">AI Career Predictor</div>
    </div>

    <div class="hero">

        <div class="hero-text">
            <h1>Predict Your Future Tech Career Using AI</h1>

            <p>
                Discover the best technology career path based on your skills,
                interests, aptitude, and strengths using Machine Learning.
            </p>

            <a href="/predict" class="btn">Start Prediction</a>
            <a href="/dashboard" class="btn">View Dashboard</a>
        </div>

        <div class="hero-image">
            <img src="https://cdn-icons-png.flaticon.com/512/4140/4140048.png">
        </div>

    </div>

</div>

<div class="footer">
    Built using Flask + Decision Tree Machine Learning
</div>

</body>
</html>

